<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="form.css" rel="stylesheet">
    <title>hansel | регистрация</title>
</head>

<body class="fc">
    <div class="container">
        <div class="row mt-5" style="background: black; height: 3pt;"></div>
        <div class="row mt-2">

            <h1 class="fc">hansel</h1>
        </div>
        <div class="row" style="margin-top: 12vh;">

            <h1 class="fc">Сообщите близким, что вы в опасности</h1>
        </div>
        <div class="row">

            <h5>Отправьте секретный код в hansel, и он оповестит ваших друзей и близких</h5>
        </div>
        <div class="row">

                <h5 class="text-muted">Код может передать другой человек</h5>
            </div>
        <div class="row" style="margin-top: 10vh;">
            <div class="col">
                <div class="card border-0 shadow-lg">
                    <div class="card-body" style="height: 220px;">
                        <div class="row justify-content-center">
                            <img height="50px"
                                src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg">
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <h4>Бот в Телеграме</h4>
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <p class="col card-subtitle" align="center">Может сохранять трансляцию местоположения</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-lg">
                    <div class="card-body" style="height: 220px;">
                        <div class="row justify-content-center">
                            <h1 style="font-size: 50px;">✉️</h1>
                        </div>
                        <div class="row justify-content-center">
                            <h4>СМС</h4>
                        </div>
                        <div class="row mt-3 justify-content-center">
                                <p class="col card-subtitle" align="center">Даже если недоступен интернет</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 shadow-lg">
                    <div class="card-body" style="height: 220px;">
                        <div class="row justify-content-center">
                            <h1 style="font-size: 50px;">🆘</h1>
                        </div>
                        <div class="row justify-content-center">
                            <h4>Физическая кнопка</h4>
                        </div>
                        <div class="row mt-3 justify-content-center">
                                <p class="col card-subtitle" align="center">Даже если сел телефон</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 10vh;">
            <a href="/register/" class="h1 mt-5" style="text-decoration: underline; color: black;"> Регистрация </a>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>